html, body {
  background-color: #ECF0F3;
}

.card-table .table {
  margin-bottom: 0;
}

.switch[type="checkbox"]:checked + label::before {
  background: #eb6864;
}

/* IE11 compat */
@media screen and (min-width: 779px){
  .modal.is-active { display: -webkit-box; display: -ms-flexbox; display: inline-block; }
  .modal-card{ margin-top: 5%; }
}
